.searchForm {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-family: inherit;
  font-weight: inherit;
}

.searchInput {
  height: 4.6rem;
  padding: 0 1.2rem;
  width: 48rem;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 600;
  color: var(--color-light--0);
  background-color: transparent;
  border: 2px solid var(--color-light--0);
  transition: all 0.2s;
}

.searchInput:focus {
  outline: none;
  border: 2px solid #fff;
}

.searchInput::placeholder {
  color: var(--color-light--0);
}
